<a href="https://colab.research.google.com/github/M3rsy/jugadores/blob/main/EjercicioPanda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Escribir una función que reciba un diccionario con las notas de los alumnos en curso en un examen y devuelva una serie con la nota mínima, la máxima, media y la desviación típica.

In [ ]:
    import pandas as pd

def nota_total(notas):
    notas = pd.Series(notas)
    est = pd.Series([notas.min(), notas.max(), notas.mean(), notas.std()], index=['Min', 'Max', 'Media', 'Desviación típica'])
    return est

notas = {'Cesar':6, 'Juan Carlos':10, 'Manuel':5, 'Bertilia':7, 'Francisco': 8.9}
print(nota_total(notas))

Escribir una función que reciba una diccionario con las notas de los alumnos en curso en un examen y devuelva una serie con las notas de los alumnos aprobados ordenadas de mayor a menor.

In [ ]:
import pandas as pd

def aprobado(nota):
    nota = pd.Series(nota)
    return nota[nota >= 5].sort_values(ascending=False)

nota = {'Marielena':10, 'Jesus':4, 'Samuel':7, 'Angel': 9, 'Sebastian': 9.3}
print(aprobado(nota))

Escribir programa que genere y muestre por pantalla un DataFrame con los datos de la tabla siguiente:

In [ ]:
import pandas as pd

datos = {'Mes':['Enero', 'Febrero', 'Marzo', 'Abril'], 'Ventas':[70222, 18943, 34254, 12335], 'Gastos':[53456, 75674, 34552, 56756]}
tabla = pd.DataFrame(datos)
print(tabla)

El archivo titanic.csv contiene información sobre los pasajeros del
Titanic. Escribir un programa en Google colab con los siguientes requisitos:

1. Generar un DataFrame con los datos del fichero.
2. Mostrar por pantalla las , las 10 primeras filas y las 10 últimas filas
3. Mostrar por pantalla los datos del pasajero con identificador
148.
4. Mostrar por pantalla las filas pares del DataFrame.
5. Mostrar por pantalla los nombres de las personas que iban en primera clase ordenadas alfabéticamente.
6. Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron.
7. Mostrar por pantalla el porcentaje de personas que sobrevivieron en cada clase.
8. Eliminar del DataFrame los pasajeros con edad desconocida.
9. Mostrar por pantalla la edad media de las mujeres que viajaban en cada clase.
10.	Añadir una nueva columna booleana para ver si el pasajero era menor de edad o no.
11.	Mostrar por pantalla el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.

In [ ]:
import pandas as pd
#LINK DE CSV
#inciso 1
titanic = pd.read_csv('https://gist.githubusercontent.com/jwalsh/ce1dc0436aba5b7a5c9666f47fa5a380/raw/5ce3854392b43ff97907112d344fc008229b0445/titanic.csv', index_col=0)
print(titanic)
#inciso 2
print('Las Dimensiones:', titanic.shape)
print('Número en elementos:', titanic.size)
print('Nombres en columnas:', titanic.columns)
print('Nombres en filas:', titanic.index)
print('Tipos en datos:\n', titanic.dtypes)
print('Primeras 10 filas:\n', titanic.head(10)) #tail hace que se ve lo primero 10
print('Últimas 10 filas:\n', titanic.tail(10)) #tail hace que se vea los ultimos 10

#inciso 3
print(titanic.loc[148]) #Busca pasajero con numero#48

#inciso 4
print(titanic.iloc[range(0,titanic.shape[0],2)]) #usamos .iloc para indexear y usar un rage y selecion columna

#inciso 5
print(titanic[titanic["Pclass"]==1]['Name'].sort_values()) #indea de forma alfabetica, que muestra primero 1 clase

#inciso 6
print(titanic['Survived'].value_counts()/titanic['Survived'].count() * 100) #% Personas muertas o vivas a nivel global

#inciso 7
print(titanic.groupby('Pclass')['Survived'].value_counts(normalize=True)) #Las que sobrevieron por cada clase

#inciso 8
titanic.dropna(subset=['Age']) #usamo subset y .dropna para  eliminar del dataframe dicho datos

#inciso 9
print(titanic.groupby(['Pclass','Sex'])['Age'].mean().unstack()['female']) #Muestra edad media de las muejeres en el barco

#inciso 10
titanic['Young'] = titanic['Age'] < 18 # se anade una columna boolean para usarla en inciso 11

#inciso 11
print(titanic.groupby(['Pclass', 'Young'])['Survived'].value_counts(normalize = True) * 100)